*{
    margin: 0px;
    box-sizing: border-box;
    
}

.container{
    width: 95%;
}


.titulo{
    text-align: center;
}

.areaTexto{
    width: 100%;
    height: 150px;

}

.button_tamanho{
   width: 100%;
   margin-top: 5px;
}

.button1{
 background-color:indianred !important; 

}
.p{
    color: pink;
    font-size: 20px;
}

